@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-image: url("Group\ 233.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Poppins, sans-serif;
}

.flex-container {
  margin: 0 auto;
  margin-top: 45px;
  width: 62%;
  height: 567px;
  background: #ffffff;
  overflow: hidden;
  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  justify-content: space-between;
}

@media (max-width: 980px) {
  .flex-container {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}
.flex-container div {
  height: auto;
}

.flex-container .container-1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("Group\ 232.png");
  overflow: hidden;
  width: 50%;
}

.flex-container .container-1 .container1-2 {
  padding: 30px;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
}
.flex-container .container-1 .container1-2 .p1 {
  color: white;
  top: 348px;
  left: 101px;
  font-weight: 900;
  font-size: 2.75rem;
  margin-top: 208px;
}
.flex-container .container-1 .container1-2 .p2 {
  color: white;
  font-size: 1.5rem;
  margin-top: -52px;
}
.flex-container .container-1 .container1-2 .aspire-logo {
  margin-top: 72px;
}

.flex-container .container-2 {
  padding: 74px;
  overflow: hidden;
  width: 35%;
}
@media (max-width: 980px) {
  .flex-container .container-2 {
    width: 100%;
  }
}
.flex-container .container-2 h2 {
  font-size: 23px;
  line-height: 0;
}
.flex-container .container-2 p {
  font-size: 14px;
  color: #b0b3b9;
}
.flex-container .container-2 .container2-1 {
  overflow: hidden;
}
.flex-container .container-2 #user {
  float: left;
  margin-top: 36px;
  font-size: 13px;
}
.flex-container .container-2 .container2-1 #usercheck {
  font-size: 10px;
  color: red;
  display: none;
}
.flex-container .container-2 .container2-1 #usercheck-none {
  font-size: 10px;
  color: red;
  display: none;
}
.flex-container .container-2 .container2-1 #passcheck {
  font-size: 10px;
  color: red;
  margin-top: 0;
  display: none;
}
.flex-container .container-2 .container2-1 #passcheck-none {
  font-size: 10px;
  color: red;
  margin-top: 0;
  display: none;
}
.flex-container .container-2 #pswd {
  font-size: 13px;
  float: left;
  margin-top: 45px;
}

.flex-container .container-2 .container2-1 .login-text-input {
  width: 100%;
  float: left;
  margin-top: 11px;
  padding-bottom: 6px;
  border: none;
  outline: none;
  border-bottom: 2px solid #b0b3b9;
}
.flex-container .container-2 .container2-1 .login-pswd-input {
  width: 100%;
  margin-bottom: -6px;
  font-size: 14px;
  /* padding-bottom: 6px; */
  border: none;
  outline: none;
  border-bottom: 2px solid #b0b3b9;
}
.flex-container .container-2 .chckbox {
  font-size: 12px;
  left: 750px;
  margin-top: -38px;
  float: left;
  top: 369px;
}
/* .flex-container .container-2 .chckbox .login-checkbox {
  position: absolute;
  right: 90px;
  top: 0px;
} */
.flex-container .container-2 .psw {
  font-size: 12px;
  top: 369px;
  float: right;
  margin-top: -38px;
  left: 912px;
}
.flex-container .container-2 .sign-up {
  font-size: 12px;
  width: 302px;
  margin-top: 20px;
  float: left;
}
.sign-up a {
  text-decoration: none;
  text-decoration: #3f2985;
}
.flex-container .container-2 button {
  float: left;
    color: #fff;
    /* width: 41%; */
    height: 9%;
    margin-top: 13px;
    font-size: 13px;
    padding: 8px 38px;
    background: transparent linear-gradient(248deg, #501769 0%, #382780 100%) 0% 0% no-repeat padding-box;
    border: 0;
}
